<div class="container">
  <h1>All users</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col s6">
      <%= turbo_stream_from "users" %>
      <%= turbo_frame_tag "users" do %>  
        <table>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= render "users/user", user: user %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col s6 offset-6">
      <%= turbo_frame_tag "new_user", src: new_user_path, target: "_top" %>
    </div>
  </div>
</div>